<!doctype html>
<html ng-app>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    </head>
    <body>
        <h1> Proteome Motif Finder </h1>
        
        <input type="text" ng-model="regEx" 
        placeholder="Enter a pattern (Perl Regular Expression)">
        <textarea ng-model="userProts" rows="10" cols="40" name="peptides">
        </textarea>
        
        <div ng-controller="orgDisplay">

            <a href ng-click="clear()">Clear</a>
            <a href ng-click="postOrgs()">Submit</a>
            <p>
                {{ "{{userProts}"}}}
            </p>
            <li ng-repeat="i in added">
            <a href ng-click="rmOrg(i)">
                {{ "{{i}"}}}
            </a>
            </li> 
            <hr>
            <li ng-repeat="org in orgs|filter:regexFilter|limitTo:nToShow">
            <a href ng-click="addOrg(org)">{{ "{{org}" }}}</a>
            </li>
        <a href ng-click="showMore()">Show More</a>
        </div>
        <!--End of organism list.-->
        <script>
            function orgDisplay($scope){
                //Organism list
                $scope.orgs = [
                {% for i in Organisms %}
                "{{i}}",
                {% endfor %}
                ];
                //Place to put added organisms
                $scope.added = []
                //The filtering function (regex matching)
                $scope.regexFilter = function(input){
                    var patt=new RegExp($scope.regEx,"i");
                    if($scope.added.indexOf(input)==-1){
                        return patt.test(input);
                    }
                };
                //How many organisms to show
                $scope.nToShow = 100;
                $scope.hello = "hillo"
                $scope.showMore = function(){
                    $scope.nToShow = $scope.nToShow+100
                };
                //Function for adding organisms to variable added
                $scope.addOrg=function(orgName){
                    $scope.added.push(orgName);
                };
                $scope.rmOrg=function(orgIndex){
                    $scope.added.pop(orgIndex);
                };
                $scope.clear=function(){$scope.added=[]}
                $scope.post_to_url=function(path, params, method){
                    method = method || "post";
                    var form = document.createElement("form");
                    form.setAttribute("method",method);
                    form.setAttribute("action",path);
                    for(var i=0; i<params.length; i++){
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type","hidden");
                        hiddenField.setAttribute("name",""+i);
                        hiddenField.setAttribute("value",params[i]);
                        form.appendChild(hiddenField);
                    };
                    document.body.appendChild(form);
                    form.submit();
                };
                //This function fires when user hits submit
                $scope.postOrgs=function(){
                    $scope.post_to_url("orgs",$scope.added);
                };
            };
        </script>
    </body>
</html>


