<!doctype html>
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
        <script type="text/javascript">
            var myApp = angular.module('myApp', [], function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('[[');
                     $interpolateProvider.endSymbol(']]');
                     });
        //This script is for displaying the filtered protein data
            myApp.controller('proteinDisplay',function($scope,$http,$timeout){
                {% autoescape false %}
                $scope.session={{session|json_encode}}
                {% endautoescape %}
                $scope.proteins = []
                $scope.showLoading = true;
                $scope.init = function(){
                    $scope.proteins = [$scope.session.sessID,"a","b"]
                    $http({method:"GET",url:"/orgs/"+$scope.session.sessID}).success(function(data,stat,head,conf){
                        $scope.proteins = data;
                        $scope.showLoading=false;
                        })
                };
                $scope.regExFilter=function(protein){
                    var patt=new RegExp($scope.filterText,"i");
                    return patt.test(protein.seq);
                }
                $scope.nToShow = 100;
                $scope.showMore = function(){
                    $scope.nToShow = $scope.nToShow + 100;
                };
                
                //The following is code to introduce a delay in regex matching
                //User types in pattern, it waits 400ms, then matches against
                //bound data
                $scope.filterText = '';
                var tempFilterText = '',
                    filterTextTimeout;
                $scope.$watch('regEx',function(val){
                    if (filterTextTimeout) $timeout.cancel(filterTextTimeout);
                    //window.alert("HIO")
                    tempFilterText = val;
                    filterTextTimeout = $timeout(function(){
                        $scope.filterText = tempFilterText;
                        //window.alert("HEU")
                        },100)
                    })
                //end delay code
            });
        </script>
        <script>
            angular.module('ng').filter('maxLines',function(){
                return function(input){
                    return input
                }
            })
        </script>
    </head>
    <body>
        <h1> Proteome Motif Finder </h1>
        <div ng-controller="proteinDisplay" ng-init="init()"> 
        <input type="text" ng-model="regEx" 
        placeholder="Enter a pattern (Perl Regular Expression)">
        <li ng-repeat="i in proteins|filter:regExFilter|limitTo:nToShow">
        [[i.header]]<br>
        </li>
        <br>
        <img ng-show="showLoading" src="/ajax-loader.gif">
        <a href ng-click="showMore()">Show More</a>
    </div>

    </body>
</html>


