<!doctype html>
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
        <script type="text/javascript">
		var myApp = angular.module('myApp', [], function ($interpolateProvider) {
			$interpolateProvider.startSymbol('[[');
			$interpolateProvider.endSymbol(']]');
		});

		myApp.controller('searchResultDisplay',function($scope,$http,$timeout){
			$scope.searchBoxArray = [{"val":""}];
			$scope.addPattern = function(){$scope.searchBoxArray.push({"val":""})};
			$scope.clear = function(){$scope.searchBoxArray = [{"val":""}]};
			$scope.submit = function(){
				var url = ""
				for(i in $scope.searchBoxArray)
					url += "%"+$scope.searchBoxArray[i]["val"]
				url = url.slice(1);//chop the first char off
				url = "/protomap?level=orgs&seqs="+url+"&format=json"
				console.log(url)
				$http({method: 'GET', url: url}).
					success(function(data,status,headers,config){
						$scope.result = data;
					}).
					error(function(){});
			};
			$scope.result = [];
		});
        </script>
    </head>
    <body>
        <h1> Protomapper Search </h1>
	<div ng-controller="searchResultDisplay" ng-init="init()"> 
		<form ng-submit="submit()">
		<div ng-repeat="i in searchBoxArray">
			<input type="text" ng-model="i.val" 
			placeholder="Enter a pattern (Perl Regular Expression)">
			[[i.val]]
		</div>
		</form>
        	<a href ng-click="addPattern()">add another pattern</a>
        	<a href ng-click="clear()">clear</a>
        	<a href ng-click="submit()">submit search</a>
		<li ng-repeat="i in result">
		[[i.desc]]<br>[[i.seq]]<br>
		</li>
	</div>
    </body>
</html>


